<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome to My Page</h1>
        <ul>
          <li>vinay</li>
          <li>anil</li>
          <li>sathish</li>
          <li>raju</li>
          <li>sai</li>
        </ul>
        <p>The city of Hyderabad was founded by the Qutb Shahi sultan Muhammad Quli Qutb Shah in 1591 CE. It was built around the Charminar, which formed the centerpiece of the city. Hyderabad became an important trading centre for diamonds and pearls, and a centre for culture.</p>
    </div>
</body>
</html>